/* === GENERAL STYLING ==== */
/* brand font */
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
/* navs font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
/* paragraph font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
    user-zoom: none;
}
:root{
    --litcolor:#FFFFFF;
    --blkkcolor:#000000;
    --drkcolor:#C68B59;
    --brandfont:'Abyssinica SIL', serif;
    --navfont: 'Raleway', sans-serif;
    --pfont: 'Roboto Flex', sans-serif;
}
.hding{
    font-size: xx-large;
    font-weight: 800;
    font-family: var(--brandfont);
}
@media screen and (max-width: 767px) {
    .hding{
        font-size: x-large;
        font-weight: 800;
        font-family: var(--brandfont);
    }
  }
.small-hding{
    font-weight: 800;
    font-family: var(--brandfont);
    display: block;
    font-size: small;
}

p{
    font-family: var(--pfont);
    text-align: justify;
}
.btn{
    width: fit-content;
    background-color:var(--drkcolor) !important;
    border: none !important;
    color: var(--litcolor) !important;
}
.btn:hover{
    width: fit-content;
    background:none !important;
    border: 1px solid var(--drkcolor) !important;
    color: var(--drkcolor) !important;
}
/* === NAVBAR STYLING ==== */
#navbar{
    background-color:var(--litcolor);
    /* height: 10vh !important; */
}
.navbar-brand{
    font-family:var(--brandfont);
    border: 2px solid var(--blkkcolor);
}
.nav-link,form a{
    font-family: var(--navfont);
    font-size: 0.9em !important;
    font-weight: bold;
    color: var(--blkcolor);
}

/* ===================================== PRODUCT_LANDING_PAGE ========================= */
#product_landing_page{
    height: 95vh;
}
.product_landing_text{
    height: 350px;
    width: 80%;
    margin: 25% 0px;
}
.product_landing_img{
    height: 95vh;

    margin: 0% auto;
}

/* ===================================== PRODUCT PAGE ========================= */
.product_top_text{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.product_top_text a{
    text-decoration: none;
    color: var(--blkkcolor);
}
@media screen and (max-width: 767px) {
    .product_top_text{
        gap: 0% !important;
        justify-content: start;
    }
}
@media screen and (max-width: 991px) {
    .product_top_text{
        gap: 7% !important;
    }
}
.search_page{
    width: 40%;
    margin: 0px auto;
    margin-top: 2%;

}
@media screen and (max-width: 767px) {
    .search_page{
        width: 100% !important;
        margin-top: 5% !important;
    
    }
}
@media screen and (max-width: 991px) {
    .search_page{
        width: 60%;
        margin: 0px auto;
        margin-top: 2%;
    }
}
.product_item{
    height: 145vh;
    margin-top: 3%;
    overflow-x: hidden;
}
@media screen and (max-width: 767px) {
    .product_item{
        height: 280vh !important;
    }
    #sm-none{
        display: none !important;
    }
}
@media screen and (max-width: 991px) {
    .search_page{
        width: 60%;
        margin: 0px auto;
        margin-top: 2%;
    }
}
.arrival{
    height: fit-content;
    /* background-color: #C68B59; */
}
.arrival_img{
    height: 300px;
    margin-top: 5%;
    /* background-color: rgb(204, 66, 66); */
    box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.3);
    /* width: 50%; */
    background-image: url(../img/dynamite-hair-cream-150-gms-500x500-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   

}
.feature{
    height: 95vh;
    /* background-color: #fff; */
}

/* ======== PARGINATION STYLING ========= */
.page-link{
    color: var(--blkkcolor) !important;
    font-family: var(--brandfont);
}
