/* === GENERAL STYLING ==== */
/* brand font */
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
/* navs font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
/* paragraph font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
    user-zoom: none;
}
:root{
    --litcolor:#FFFFFF;
    --blkkcolor:#000000;
    --drkcolor:#C68B59;
    --brandfont:'Abyssinica SIL', serif;
    --navfont: 'Raleway', sans-serif;
    --pfont: 'Roboto Flex', sans-serif;
}
.hding{
    font-size: xx-large;
    font-weight: 800;
    font-family: var(--brandfont);
}
@media screen and (max-width: 767px) {
    .hding{
        font-size: x-large;
        font-weight: 800;
        font-family: var(--brandfont);
        color: var(--blkkcolor) !important;
    }
  }
.small-hding{
    font-weight: 800;
    font-family: var(--brandfont);
    display: block;
    font-size: small;
}

p{
    font-family: var(--pfont);
    text-align: justify;
}
.btn{
    width: fit-content;
    background-color:var(--drkcolor) !important;
    border: none !important;
    color: var(--litcolor) !important;
}
.btn:hover{
    width: fit-content;
    background:none !important;
    border: 1px solid var(--drkcolor) !important;
    color: var(--drkcolor) !important;
}
/* === NAVBAR STYLING ==== */
#navbar{
    background-color:var(--litcolor);
    /* height: 10vh !important; */
}
.navbar-brand{
    font-family:var(--brandfont);
    border: 2px solid var(--blkkcolor);
}
.nav-link,form a{
    font-family: var(--navfont);
    font-size: 0.9em !important;
    font-weight: bold;
    color: var(--blkcolor);
}

/* ===================================== PRODUCT_LANDING_PAGE ========================= */
#product_landing_page{
    height: 95vh;
}
.product_landing_text{
    height: 350px;
    width: 80%;
    margin: 25% 0px;
}
.product_landing_img{
    height: 95vh;
    background-image: url(../img/images-removebg-preview.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0% auto;
}
@media screen and (max-width: 767px) {
    #product_landing_page{
        background-color: rgba(0,0,0,0.9) !important;
    }
    .product_landing_text{
        height: 350px;
        width: 100% !important;
        margin-top: 55% !important;
        color: var(--litcolor) !important;
        position: relative;

    }
    .product_landing_img{
        margin-top: -150%;
        height: 80vh !important;
        background-size: cover !important;
        width: 100%;
        padding: 45% !important;
  
    }
}
/* ========================================= CAROUSEL STYLE ============== */

.header{
  width: 98%;
  height: 60px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}
.header p span{
  font-size: 40px;
  font-weight: 600;
  margin: 0 3px;
  cursor: pointer;
  color: var(--drkcolor);
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;

}
.header p span:hover{
  background-color: #000000;
  color: #ddd;
}
.advt{
  width: 98%;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.advt::-webkit-scrollbar{
  display: none;
}
.advt .product-slider{
  min-width: 24%;
  height: 90%;
  background-color: whitesmoke;
  margin: 0 20px 0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;
}
picture{
  width: 100%;
  height: 70%;
  padding: 20px;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
picture img{
  width: 100%;
}
.details, .button{
  width: 90%;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: #444;
}
.button{
  align-items: baseline;
}
small{
  color: #555;
}
p .star{
  margin: 5px auto;
  width: 65%;
  font-size: 25px;
  color: #808080;
}
@media(max-width: 767px){
  .header h2{
    font-size: 25px;
  }
  .header p span{
    font-size: 30px;
  }
  .advt .product-slider{
    min-width: 49%;
    margin: 0 10px 0 0;

  }
  .details, .button{
    font-size: 13px;
  }
  .button a{
    font-size: 10px;
  }


}
/* ===================================== PRODUCT PAGE ========================= */
.product_top_text{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.product_top_text a{
    text-decoration: none;
    color: var(--blkkcolor);
}
@media screen and (max-width: 767px) {
    .product_top_text{
        gap: 0% !important;
        justify-content: start;
    }
}
@media screen and (max-width: 991px) {
    .product_top_text{
        gap: 7% !important;
    }
}
.search_page{
    width: 40%;
    margin: 0px auto;
    margin-top: 2%;

}
@media screen and (max-width: 767px) {
    .search_page{
        width: 100% !important;
        margin-top: 5% !important;
    
    }
}
@media screen and (max-width: 991px) {
    .search_page{
        width: 60%;
        margin: 0px auto;
        margin-top: 2%;
    }
}
.product_item{
    /* width: 100%; */
    /* background-color: #000000; */
    height: 145vh;
    margin-top: 3%;
    overflow-y : hidden;
    /* scroll-behavior: smooth; */

    
}
@media screen and (max-width: 767px) {
    .product_item{
        height: 280vh !important;
    }
    #sm-none{
        display: none !important;
    }
}
@media screen and (max-width: 991px) {
    .search_page{
        width: 60%;
        margin: 0px auto;
        margin-top: 2%;
    }
}
.arrival{
    height: 140vh;
    background-color: #C68B59;
}
.arrival_img{
    height: 400px;
    margin-top: 5%;
    /* background-color: rgb(204, 66, 66); */
    box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.3);
    /* width: 50%; */
    background-image: url(../img/dynamite-hair-cream-150-gms-500x500-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   

}
.feature{
    margin-top: 10%;
    height: 140vh;
    background-color: rgb(182, 48, 48);
}
.sale{
    margin-top: 10%;
    height: 140vh;
    background-color: rgb(66, 182, 48);
}
/* ======== PARGINATION STYLING ========= */
.page-link{
    color: var(--blkkcolor) !important;
    font-family: var(--brandfont);
}

/* Product section */
.product_page_top{
    height: fit-content;
    width: 100%;
    text-align: center;
    margin: 
    5% 0px;
}
.card{
height: fit-content !important;
border: none !important;
margin-top: 10%;
}
.card img{
    width: 80%;
    height: 300px;
    margin: auto !important;
    /* background-color: #fff; */
}
.card-body{
    height: fit-content;
    margin-top: 5%;
    background-color: #FCFDF2;
}
@media screen and (max-width: 767px) {
    .card img{
        width: 100% !important;
        height: 500px !important;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 !important;
    }
  }

  
/* ========================================= FOOTER STYLE ============== */

footer{
    color: var(--drkcolor);
    background-color: var(--blkkcolor);
    /* background-image: linear-gradient(90deg, var(--drkcolor) 0%, rgba(87,25,45,1) 100%); */
    position: relative;
    width: 100%;
    height: 100%;
    top:50px;
    border-top-left-radius: 70px;
    font-size: 0.8rem;
  }
  
  
  
  @media (max-width:960px) {
    footer{
      width: 100%;
      top: 120px;
    }
    
    .main{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }
    
    .logo{
      grid-column: 1/3;
    }
    
    .office{
      grid-column: 3/5;
    }
    .link{
      grid-column: 1/3;
    }
    
      
  }
  
  
  
  
  
  @media (max-width:660px){
    .main{
      gap:10px;
      margin: 0;
  
    }
    
    .icons{
      display: flex;
    }
    
   
    
    .row{
      grid-column: 1/4;
    }
  }
  

  .main{
    margin: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr );
  }
  .row{
   margin-top: 50px;
  }
  .footer-header{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .office-des{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .office a{
    text-decoration: none;
    color: var(--drkcolor);
    
  }
  .office a:hover{
    color: #fff;
  }
  .num{
    font-size: 1rem;
    font-weight: 500;
  }
  
  .link-des{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  .link-des a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .link-des a:hover{
    color: var(--drkcolor);
    transition: linear 0.3s;
  }
  
  .btn-know{
    text-decoration: none;
    background-color: #fff;
    padding: 10px;
    position: relative;
    top: 30px;
    background-color: transparent;
    border: 1px solid #98A8F8;
    color: #98A8F8;
    text-transform: uppercase;
    border-radius:10px;
    
  }
  
  
  .btn-know:hover{
    color: white; 
    background-color: #98A8F8;
    transition: linear 0.3s;
  }
  .subcribe{
    display: flex;
  }
  input[type=mail]{
    border: none;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff !important;
    font-size: 0.8rem;
  }
  .sub-icon{
    margin: 7px;
    margin-right: 15px;
    margin-left: 0;
    font-size: 1.5rem;
  }
  .ri-arrow-right-line{
    margin-left: 0;
    
  }
  
  .icons a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    align-items: center;
    font-size: 1.1rem;
    margin: 5%;
  }
  
  
  .social-icon{
    position: relative;
    top:2px;
  }
  .icons a:hover{
    color: #fff;
    font-size: 25px;
    background-color: var(--drkcolor);
    border-color: var(--drkcolor);
    transition: linear 0.3s;
  }
  .newsletter-des{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .copyright{
    text-align: center !important;
  }
  
  hr{
    width: 90%;
    margin: 2px auto !important;
    opacity: 40%;
    border: 0.01px solid white;
    
  }
  
  .copyright p{
    padding: 20px;
  }
  

  